---
layout: page
---

<section class="section">
  <p>
    Charles has been creating, updating, and maintaing
    web-based applications professionally since 1999.
  </p>
</section>

<div class="print-grid-row">
  <section class="section">
    <h2 class="section__heading">Areas of Expertise</h2>

    <ul>
      <li>User Experience</li>
      <li>Accessibility</li>
      <li>Internationalization</li>
      <li>Software-Oriented Architecture</li>
      <li>Appication Programming Interfaces &amp; Protocols</li>
    </ul>
  </section>

  <section class="section">
    <h2 class="section__heading">Market Experience</h2>

    <ul>
      <li>E-Commerce</li>
      <li>Education</li>
      <li>Financial</li>
      <li>Healthcare</li>
      <li>Military</li>
    </ul>
  </section>
</div>

{% if site.posts.size > 0 %}<hr/>{% endif %}
{% include posts.html %}
