---
layout: site
title: Resume
---

<header>
  <h1>{{ site.data.resume.basics.name }}</h1>
</header>

<main>
  <section class="section section--contact">
    <h2 class="section__heading">Contact</h2>

    <address>
      <ul class="contact-list">
        <li class="contact-list__item">
          <a href="{{ site.data.resume.basics.website }}">
            <svg class="icon-website" role="img" aria-labelledby="title-website">
              <title id="title-website"></title>
              <use xlink:href="#sprite-website" fill="currentColor" />
            </svg>
            {{ site.data.resume.basics.website | replace: 'https://', '' }}
          </a>
        </li>

        {% for profile in site.data.resume.basics.profiles %}
          {% assign type = profile.network | downcase %}
          <li class="contact-list__item">
            <a href="{{ profile.url }}">
              <svg class="icon-{{ type }}" role="img" aria-labelledby="title-{{ type }}">
                <title id="title-{{ type }}">{{ profile.network }}</title>
                <use xlink:href="#sprite-{{ type }}" fill="currentColor" />
              </svg>
              {{ profile.username }}
            </a>
          </li>
        {% endfor %}

        <li class="contact-list__item">
          <a href="mailto:{{ site.data.resume.basics.email }}">
            <svg class="icon-email" role="img" aria-labelledby="title-email">
              <title id="title-email"></title>
              <use xlink:href="#sprite-email" fill="currentColor" />
            </svg>
            {{ site.data.resume.basics.email }}
          </a>
        </li>
      </ul>
    </address>
  </section>

  <section class="section section--summary">
    <h2 class="section__heading">{{ site.data.resume.basics.label }}</h2>

    <p>{{ site.data.resume.basics.summary }}</p>
  </section>

  <section class="section section--skills">
    <h2 class="section__heading">Skills</h2>

    {% for skillset in site.data.resume.skills %}
      <section class="subsection">
        <h3 class="subsection__heading">{{ skillset.name }}</h3>

        <ul class="inline-list">
          {% for skill in skillset.keywords %}
            <li class="inline-list__item">{{ skill }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </section>

  <section class="section section--experience">
    <h2 class="section__heading">Experience</h2>

    {% for entry in site.data.resume.work %}
      <article class="subsection{% if entry.endDate < '2010-01-01' %} subsection--old{% endif %}">
        <header class="subsection__header">
          <h3 class="subsection__heading">{{ entry.company }}</h3>

          <dl class="date-range">
            <dt class="date-range__ordinal">Start</dt>
            <dd class="date-range__date">
              <time datetime="{{ entry.startDate }}">
                {{ entry.startDate | date: "%b %Y" }}
              </time>
            </dd>

            <dt class="date-range__ordinal">End</dt>
            <dd class="date-range__date">
              <time datetime="{{ entry.endDate }}">
                {{ entry.endDate | date: "%b %Y" }}
              </time>
            </dd>
          </dl>

          <p class="subsection__subheading">{{ entry.position }}</p>
        </header>

        <p>{{ entry.summary }}</p>

        <ul class="highlights">
          {% for hl in  entry.highlights %}
            <li>{{ hl }}</li>
          {% endfor %}
        </ul>
      </article>
    {% endfor %}
  </section>
</main>
