$link: #000;
$link-active: #933;
$link-hover: #933;
$link-visited: #300;

$nav-link: #eee;
$nav-link-active: #fff;
$nav-link-hover: #fff;
$nav-link-visited: #eee;

$bullet: #a33;

$bg: #fff;
$fg: #333;

$header-bg: #fff;
$header-fg: #333;
$header-fg-shadow: #fff;

$header-nav-bg: #333;
$header-nav-fg: #fefefe;

$section-bg: #f9f9f9;
$section-header-fg: #a33;
