* {
  box-sizing: border-box;
}
a {
  color: $link;

  &:hover {
    color: $link-hover;
  }
  &:active {
    color: $link-active;
  }
  &:visited {
    color: $link-visited;

    &:hover {
      color: $link-hover;
      @media print {
        color: $link;
      }
    }
  }
}
address {
  font-style: normal;
}
dl {
  display: flex;
  flex-flow: row wrap;
}
dt, dd {
  padding-bottom: .5ex;

  &:last-of-type {
    padding-bottom: 0;
  }
}
dt {
  flex-basis: 25%;
  padding-right: 1em;
}
dd {
  flex-basis: 75%;
  flex-grow: 1;
  margin: 0;
}
ul {
  padding-inline-start: 1.2em;
}
li {
  margin-bottom: .3ex;
}
