.page-resume {
  .section {
    > :first-child {
      margin-top: 0;
    }

    &__heading {
      color: $section-header-fg;
      font-family: 'Russo One', sans-serif;
      font-weight: normal;
      text-shadow: $header-shadow;

      &--old {
        font-size: 1.15em;
      }
    }
    &--experience {
      .subsection {
        position: relative;

        &--old {
          font-size: .8em;
        }
      }
    }
  }
  .subsection {
    margin: 1em 0 1.5em;

    &__heading {
      margin: 0;
      max-width: 17em;
    }
    &__subheading {
      font-family: Times New Roman, serif;
      font-style: italic;
      margin: 0;
    }
  }
  .date-range {
    display: block;
    font-size: .9em;
    line-height: 1.55;
    margin: 0;
    position: absolute;
    right: 0;
    top: .25ex;

    &__ordinal {
      @include hide;
    }
    &__date {
      display: inline;
      padding: 0;

      &:first-of-type::after {
        content: '-';
      }
    }
  }
  .highlights, .inline-list {
    font-size: .9em;
  }
  .inline-list {
    list-style-type: none;
    margin: 1ex 0 0;
    padding-inline-start: 0;

    &__item {
      display: inline;

      &:not(:last-of-type)::after {
        content: ',';
      }
    }
  }
}

@media print, (min-width: 666px) {
  .page-resume {
    .print-grid-row {
      display: grid;
      grid: auto / 13em auto;
      grid-column-gap: 3em;
    }
    .section {
      &__heading {
        margin: 0 0 1.2ex;
      }

      &--skills {
        grid-column: 1;

        .subsection {
          &:not(.subsection--software-design) .inline-list {
            display: flex;
            flex-flow: row wrap;
          }
        }
      }
      &--experience {
        grid-column: 2;
        padding: 0;
      }
    }
    .inline-list {
      &__item {
        display: list-item;
        flex-basis: 50%;

        &::after {
          display: none;
        }
      }
    }
  }
}

@media print, (min-width: 1024px) {
  .page-resume {
    .print-grid-row {
      grid-column-gap: 5em;
    }
    .subsection__heading {
      max-width: none;
    }
  }
}

@media print {
  .page-resume {
    .print-grid-row {
      grid: auto / 14em auto;

      &--old {
        display: block;
      }
    }
    .section {
      .section__heading--old {
        margin-top: .75in;
        page-break-before: always;
      }
    }
    .subsection {
      break-inside: avoid;

      &--old {
        margin: 0;
      }
    }
  }
}
