$link: #000;
$link-active: #933;
$link-hover: #933;
$link-visited: #300;

$bg: #f9f9f9;
$fg: #444;

$header-bg: #ccc;
$header-fg: #a33;
$header-fg-shadow: #fff;

$section-bg: #eee;
$section-bullet: #a33;
