$header-shadow: -.05em .05em 0 $header-fg-shadow;

* {
  box-sizing: border-box;
}
html {
  font-size: .8em;
  height: 100%;
}
body {
  background: $bg;
  color: $fg;
  display: grid;
  font-family: Arial;
  grid-template-rows: auto auto 5rem;
  margin: 0;
  min-height: 100%;

  > header {
    background-color: $header-bg;
    background-image: url('#{$baseurl}/assets/images/burst.svg');
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: $header-fg;
    font-family: 'Russo One', sans-serif;
    font-size: 1.4em;
    grid-row: 1;
    padding: 1ex 1rem;

    h1 {
      font-weight: normal;
      margin: 0;
      text-align: center;
      text-shadow: $header-shadow;
    }
  }

  > footer {
    grid-row: 3;
    padding: 1rem;
  }
}

main {
  grid-row: 2;
  padding: 1rem;
}

a {
  color: $link;

  &:hover {
    color: $link-hover;
  }

  &:active {
    color: $link-active;
  }

  &:visited {
    color: $link-visited;

    &:hover {
      color: $link-hover;
    }
  }
}

address {
  font-style: normal;

  a {
    text-decoration: none;
  }
}

dl {
  display: flex;
  flex-flow: row wrap;
}
dt, dd {
  padding-bottom: .5ex;

  &:last-of-type {
    padding-bottom: 0;
  }
}
dt {
  flex-basis: 25%;
  padding-right: 1em;
  text-align: right;
}
dd {
  flex-basis: 75%;
  flex-grow: 1;
  margin: 0;
}

.page-resume {
  grid-template-rows: auto auto;

  h2, .skills h3 {
    background: $header-bg;
    color: $header-fg;
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
    margin: 0 -1rem;
    padding: .5ex 1rem;
    text-shadow: $header-shadow;
  }
}

.contact {
  background: $section-bg;
  margin: -1em -1rem 1em -1rem;
  padding: 1rem;

  dl {
    font-size: .9em;
    margin: 0;
  }
}

.summary, .skills {
  h2 {
    display: none;
  }
}

.skills {
  background: $section-bg;

  section {
    background: $section-bg;
    margin: 0 -1rem;
    padding: 0 1rem 1ex;
  }
  h3 {
    font-size: 1em;
  }
  ul {
    font-size: .9em;
    list-style-type: none;
    margin: 0;
    padding: 1ex 0 0;
  }
  li {
    display: inline;

    &:not(:last-of-type)::after {
      content: ',';
    }
  }
}

.experience {
  padding-bottom: 2rem;

  article {
    margin: 0 0 1em 0;
  }
  header {
    margin: 0 -1rem;
    padding: 1ex 1rem;
    background: $section-bg;

    h3, dl, p {
      margin: 0;
    }
    p {
      font-style: italic;

      &::before {
        clear: both;
        content: '';
        display: block;
        height: 1px;
        overflow: hidden;
      }
    }
  }
  h3 {
    float: left;
    max-width: 60%;
  }
  dl {
    display: block;
    float: right;
  }
  dt {
    display: none;
  }
  dd {
    display: inline;

    &:first-of-type::after {
      content: '-';
    }
  }
  ul {
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;
  }
  li {
    padding-left: 1em;
    position: relative;

    &::before {
      color: $section-bullet;
      content: '✯';
      display: block;
      left: 0;
      position: absolute;
    }
  }

  .old {
    font-size: .7em;
  }
}

@media print, (min-width: 376px) {
  html {
    font-size: 1em;
  }
  body {
    grid-template-rows: 10rem auto 5rem;

    > header {
      position: relative;

      h1 {
        bottom: .5rem;
        left: 2rem;
        position: absolute;
      }
    }
  }
  .page-resume {
    grid-template-rows: 10rem auto;

    main {
      display: grid;
      grid: auto auto / 20em auto;
      grid-column-gap: 1em;
      margin: 0;
    }
  }
  .contact {
    grid-column: 1;
    margin: 0;
  }
  .summary {
    grid-column: 2;
    padding: 0 1rem;
  }
  .skills {
    grid-column: 1;

    section {
      margin: 0;
    }
  }
  .experience {
    grid-column: 2;

    article {
      padding: 0 1rem;
    }
    h2 {
      margin: 0;
    }
  }
}

@media print {
  html {
    font-size: .7em;
  }

  body {
    display: block;

    > header {
      height: 1.5in;
      padding: 1ex .5in;

      h1 {
        left: .5in;
        padding-left: 2rem;
      }
    }
  }

  .page-resume {
    main {
      grid: auto auto / 24em auto;
      grid-column-gap: .25in;
    }

    article, ul, p {
      break-inside: avoid;
    }
    article:not(.old) + .old {
      page-break-before: always;
    }
  }

  .contact, .skills {
    margin-left: .5in;
  }
  .summary, .experience {
    margin-right: .5in;
  }
}
