---
---

$baseurl: '{{ site.baseurl }}';

@function escape_hex_color($c) {
  @return '%23#{str-slice('#{$c}', 2)}'
}

@mixin hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@import 'colors';
@import 'properties';
@import 'normalize';
@import 'global';
@import 'layout';
@import 'resume';
